<%- include("../partials/header")%>
  <%- include('../partials/navbar') %>

    <!-- carausol -->
    <div class="container mt-5 p-5">
      <%- include("../partials/flash")%>
      <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHRlY2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="" style="background-repeat: no-repeat; background-size: cover; " class="bd-placeholder-img"
              width="100%" height="400px">
          </div>
          <div class="carousel-item ">
            <img
              src="https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHRlY2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="" style="background-repeat: no-repeat; background-size: cover; " class="bd-placeholder-img"
              width="100%" height="400px">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHRlY2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="" style="background-repeat: no-repeat; background-size: cover; " class="bd-placeholder-img"
              width="100%" height="400px">
          </div>
          <div class="carousel-item ">
            <img
              src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHRlY2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="" style="background-repeat: no-repeat; background-size: cover; " class="bd-placeholder-img"
              width="100%" height="400px">
          </div>

          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHRlY2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="" style="background-repeat: no-repeat; background-size: cover; " class="bd-placeholder-img"
              width="100%" height="400px">
          </div>

          <div class="carousel-item ">
            <img
              src="https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHRlY2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="" style="background-repeat: no-repeat; background-size: cover; " class="bd-placeholder-img"
              width="100%" height="400px">
          </div>
          

        </div>

      </div>
    </div>

    <!-- cards -->

    <div class="container mt-3 p-5">
      


      <div class="row">
        <%for(let b of blogs){%>
          <div class="col-lg-6">
            <div class="card mb-3 mw-100 p-2 shadow-sm p-3 mb-5 bg-body rounded">
              <div class="row g-0">
                <div class="col-md-4">
                  <img class="index" src="<%= b.img %>" alt="..." width="170px" height="230px">
                </div>
                <div class="col-md-8">
                  <div class="card-body ms-2">
                    <h5 class="card-title">
                      <%= b.title %>
                    </h5>
                    <p class="card-text">
                      <%= b.bodycontent.substring(0,90)%>...
                    </p>
                    <p class="card-text"><small class="text-muted">Written By - <%= b.writer %></small></p>
                    <a href="/blogs/<%= b._id %> " class="btn btn-outline-primary mb-1">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%}%>
      </div>




  </div>


    <%- include('../partials/footer') %>